## Ref: http://www.gitalias.com/
## Ref: https://github.com/GitAlias/gitalias
## Ref: https://haacked.com/archive/2014/07/28/github-flow-aliases/

[include]
   path = ../.gitcommands
   
[alias]
#save progress (commit)
save = !".gitcommands/save $1 #"

#run the standard installation process
render = !".gitcommands/render"

#get a branch
getb = !".gitcommands/getb $1 #"

#alias to getb
setb = !".gitcommands/setb $1 $2 #"

#remove/close current branch
closeb = !".gitcommands/closeb"

# remove all local branch except the current
purgelocalbranches = !".gitcommands/purge-branches"

# alias to remove all local branch
purgelocal = !git purgelocalbranches
